@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

:root {
  --color-gold: #A38138;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

/* Prevent container padding from causing overflow */
.container {
  max-width: 100vw !important;
  overflow-x: hidden;
}

.ease-out-back {
  scroll-behavior: smooth;
  transition: transform 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


